{% extends "index.html" %}


{% block body %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
<form class="form-horizontal col-sm-10 col-sm-offset-1" method="POST" onkeydown="if(event.keyCode==13)return false;">
  {% csrf_token %}
  <h3 class="text-center">{{ annotation.verdict }}</h3>
  <input type="hidden" name="id" value="{{ annotation.id }}">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>判決書內文</th>
        <th>是否與公然侮辱相關</th>
      </tr>
    </thead>
    <tbody>
    {% for sentence in sentences %}
      <tr>
        <td>{{ sentence }}</td>
        <td>
          <div class="col-sm-6 col-lg-4 switch">
            <input type="checkbox" name="insult-{{ forloop.counter0 }}" data-on-text="Yes" data-off-text="No" {% if forloop.counter0 in related_indexes %} checked {% endif %}>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <hr>
  <div class="panel panel-info">
    <div class="panel-heading">
    <h3 class="panel-title">判決總整理</h3>
    </div>

    <div class="panel-body">
      <div class="form-inline row">
        <div class="col-md-2">
          <h4>是否有罪:</h4>
        </div>
        <div class="form-check checkbox-inline col-md-4">
          <input class="form-check-input" type="radio" name="guilty" id="not_guilty" value="not_guilty" {% if not annotation.guilty %} checked {% endif %}>
          <label class="form-check-label" for="not_guilty">無罪</label>
          </div>
        <div class="form-check checkbox-inline col-md-4">
          <input class="form-check-input" type="radio" name="guilty" id="guilty" value="guilty" {% if annotation.guilty %} checked {% endif %}>
          <label class="form-check-label" for="guilty">有罪</label>
        </div>
      </div>
      <hr>
      <div class="form-inline row">
        <div class="col-md-2">
          <h4>刑期:</h4>
          <div class="input-group col-md-4">
          </div>

        </div>
        <div class="input-group col-md-3">
          <input class="form-control" type="number" name="sentence_year" value="{{ annotation.sentence_year }}">
          <span for="sentence_year" class="input-group-addon">年</span>
        </div>

        <div class="input-group col-md-3">
          <input class="form-control" type="number" name="sentence_month" value="{{ annotation.sentence_month }}">
          <span for="sentence_month" class="input-group-addon">月</span>
        </div>

        <div class="input-group col-md-3">
          <input class="form-control" type="number" name="sentence_day" value="{{ annotation.sentence_day }}">
          <span for="sentence_day" class="input-group-addon">日</span>
        </div>
      </div>
      <hr>
      <div class="form-inline row">
        <div class="col-md-2">
          <h4>罰金(鍰):</h4>
        </div>
        <div class="input-group col-md-9">
          <input class="form-control" type="number" name="fine" value="{{ annotation.fine }}">
          <span for="fine" class="input-group-addon">元</span>
        </div>
      </div>
    </div>

    <div class="panel-footer clearfix">
      <button class="btn btn-primary pull-right" type="submit">送出</button>
    </div>
  </div>
</form>
<style>
  #back2Bottom {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: fixed;
    bottom: 60px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Bottom:hover {
    background-color: #DEF;
    color: #000;
}
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 100px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DEF;
    color: #000;
}
</style>
<script>
  /*Scroll to top when arrow up clicked BEGIN*/

$(document).ready(function() {
    $('#back2Bottom').fadeIn()
    $("#back2Bottom").click(function(event) {
        event.preventDefault();
        $("html, body").animate({ scrollTop: $("body").height() }, "fast");
        return false;
    });
    $('#back2Top').fadeIn()
    $("#back2Top").click(function(event) {
        event.preventDefault();
        $("html, body").animate({ scrollTop: 0 }, "fast");
        return false;
    });
});

 /*Scroll to top when arrow up clicked END*/
</script>
<a id="back2Top" title="Back to top" href="#">&#10148;</a>
<a id="back2Bottom" title="Scroll to bottom" href="#">&#10148;</a>

{% endblock body %}
