{% extends "index.html" %}
{% block body %}
<h2>判決書標記</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>最後編輯時間</th>
        <th>標記者</th>
        <th>流水號</th>
        <th>判決書內文</th>
        <th>狀態</th>
      </tr>
    </thead>
    <tbody>

      {% for annotation in annotations %}
      <tr>
        <td width="14%">{{ annotation.update_time }}</td>
        <td width="6%">{{ annotation.author.username }}</td>
        <td width="12%">{{ annotation.verdict }}</td>
        <td width="64%"><a href="/anno?id={{ annotation.verdict.id }}">{{ annotation.verdict.raw|truncatechars:100 }}</a></td>
        <td width="6%">{{ annotation.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<ul class="pager">
  {% if annotations.has_previous %}
  <li><a href="?page={{ annotations.previous_page_number }}&status={{ request.GET.status }}">&larr; 前一頁</a></li>
  {% endif %}
  <span class="current">第 {{ annotations.number }} / {{ annotations.paginator.num_pages }} 頁</span>
  {% if annotations.has_next %}
  <li><a href="?page={{ annotations.next_page_number }}&status={{ request.GET.status }}">下一頁 &rarr;</a></li>
  {% endif %}
</ul>
<script>

</script>
{% endblock body %}