{% extends "index.html" %}
{% block body %}

<div class="container-fluid">
  <h2>Reaction Script for Agent <b>{{ agent.agent_name }}</b></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Last Edited</th>
        <th>Intent Name</th>
        <th>Author</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

      {% for annotation in annotations %}
      <tr>
        <td width="5%">{{ annotation.update_time }}</td>
        <td width="20%">{{ annotation.intent }}</td>
        <td width="20%">{{ annotation.author.username }}</td>
        <td width="5%">

        </td>
        <td width="5%">

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <ul class="pager">
    {% if annotations.has_previous %}
    <li><a href="?page={{ annotations.previous_page_number }}">&larr; Previous</a></li>
    {% endif %}
    <span class="current">Page {{ annotations.number }} of {{ annotations.paginator.num_pages }}.</span>
    {% if annotations.has_next %}
    <li><a href="?page={{ annotations.next_page_number }}">Next &rarr;</a></li>
    {% endif %}
  </ul>
</div>
<script>

</script>
{% endblock body %}