<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ settings.SITE_NAME }}</title>


  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/kflorence/jquery-deserialize/master/src/jquery.deserialize.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="navbar navbar-inverse" role="navigation" style="padding-right: 20px;">
    {% if user.is_authenticated %}
    <div class="dropdown navbar-right">
      <a class="dropdown-toggle navbar-text" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>
        以 {{ user.username }} 登入
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/anno/list"><span class="glyphicon glyphicon-folder-open"></span> 查看所有標記</a></li>
        <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
      </ul>
    </div>
    <div class="progress navbar-right navbar-text" style="width: 25%; margin: 1%">
      <div class="progress-bar" style="width: {{ annotation_status.remaining_pct }}%">
        <a href="/anno/list?status={{ annotation_status.Annotation.NOT_DONE }}" style="color:aliceblue">{{ annotation_status.remaining }} {{ annotation_status.Annotation.NOT_DONE }}</a>
      </div>
      <div class="progress-bar progress-bar-success" style="width: {{ annotation_status.done_pct }}%">
        <a href="/anno/list?status={{ annotation_status.Annotation.DONE }}" style="color:aliceblue">{{ annotation_status.done }} {{ annotation_status.Annotation.DONE }}</a>
      </div>
    </div>
    {% else %}
    <p class="navbar-text navbar-right">
      <b><a href="/auth/login" class="navbar-link"><span class="glyphicon glyphicon-log-in"></span>登入&nbsp&nbsp</a></b>
      <!--&nbsp or &nbsp
      <b><a href="/auth/register" class="navbar-link"><span class="glyphicon glyphicon-saved"></span> Sign up</a></b>-->
    </p>
    {% endif %}
    <div class="navbar-header">
      <a class="navbar-brand" href="/anno/list">{{ settings.SITE_NAME }}</a>
    </div>
  </div>
  <div class="container-fluid" style="margin-bottom: 3%">
    {% block body %}

    {% endblock %}
  </div>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <div class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <span class="navbar-text">{{ settings.FOOTER_TEXT }}</span>
    </div>
  </div>
</body>

</html>